[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/cereal"]
	path = external/cereal
	url = git@github.com:USCiLab/cereal.git
[submodule "external/polylabel"]
	path = external/polylabel
	url = git@github.com:mapbox/polylabel.git
[submodule "external/geometry"]
	path = external/geometry
	url = git@github.com:mapbox/geometry.hpp.git
[submodule "external/variant"]
	path = external/variant
	url = git@github.com:mapbox/variant.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/expected"]
	path = external/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "external/imFileDialog"]
	path = external/imFileDialog
	url = https://github.com/Earsuit/ImFileDialog.git
[submodule "external/magic_enum"]
	path = external/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "external/concurrentqueue"]
	path = external/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
